.logo{
    background-color: rgb(78, 78, 75);
    margin-left: 100px ;
  margin-right: 1000px;
    margin-bottom:5px ;

}
.navbarList{
   margin-top:10px ;
    margin-right:500px;
    margin-left: 100px;
}
